@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --clr-primary-light-blue: #0ea5e9;
  --clr-primary-light-bg1: #f0f9ff;
  --clr-primary-light-bg2: #bae6fd;
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-text: #4b5563;
  --clr-neutral-title: #111827;
  --fs-main-desktop: 15px;
  --ff-main: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fs-main-desktop);
}

body {
  font-family: var(--ff-main);
  min-height: 100vh;
  background-color: #0ea5e9;
  background: linear-gradient(
    90deg,
    rgba(34, 211, 238, 1),
    rgba(14, 165, 233, 1)
  );
}

.container {
  margin: auto auto;
  width: 74rem;
  max-width: 80%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--clr-neutral-white);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 0.53rem;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  width: 70%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--clr-neutral-title);
}

.button {
  background-color: var(--clr-primary-light-bg2);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--clr-primary-light-blue);
}

.button:hover {
  background-color: var(--clr-primary-light-blue);
  cursor: pointer;
  color: var(--clr-neutral-white);
}

.button:active {
  transform: translateY(1px);
}

.search-box {
  margin: 1rem 0rem 0rem 0rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #e4e4e7;
  border-radius: 0.5rem;
}

.search-box:hover {
  border: 1px solid var(--clr-primary-light-blue);
  outline: 1px solid var(--clr-primary-light-blue);
}

.search {
  margin-right: 0.5rem;
}

.input-text {
  width: 95%;
  border: none;
  font-size: 1rem;
}

.input-text:focus {
  outline: none !important;
}

/* Project Component */
.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.project-card {
  width: calc((100% - 1rem) / 2);
  margin: 1rem 0rem 0rem 0rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid #e4e4e7;
  border-radius: 0.5rem;
}
.project-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-neutral-title);
  margin-bottom: 0.25rem;
}
.project-department {
  font-size: 0.9rem;
  color: var(--clr-neutral-text);
  margin-bottom: 0.25rem;
}
.person-image {
  margin: 1rem 0rem;
  border-radius: 50%;
  border: 2px solid var(--clr-neutral-white);
  width: 40px;
}

/* Project Hover */

.project-card:hover {
  background-color: var(--clr-primary-light-blue);
  border: 1px solid var(--clr-primary-light-blue);
  border-radius: 0.5rem;
  color: var(--clr-neutral-white);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.project-card:hover .project-title {
  color: var(--clr-neutral-white);
}

.project-card:hover .project-department {
  color: var(--clr-primary-light-bg2);
}

.new-project-card {
  width: calc((100% - 1rem) / 2);
  margin: 1rem 0rem 0rem 0rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #e4e4e7;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: var(--clr-neutral-text);
}

.new-project-card:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
  border: 2px dashed transparent;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: var(--clr-neutral-text);
}

/* Project Form */
.project-form {
  width: calc((100% - 1rem) / 2);
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 2px dashed #e4e4e7;
  border-radius: 0.5rem;
}
.user-list > p {
  color: var(--clr-neutral-text);
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.userimage {
  border-radius: 50%;
  border: 2px solid var(--clr-neutral-white);
  width: 40px;
  filter: grayscale(1);
}

.user-name {
  font-size: 0.9rem;
  color: var(--clr-neutral-text);
  margin-top: 0.5rem;
}

.user:hover .userimage {
  filter: grayscale(0);
  transform: translateY(-1px);
}

.user:hover .user-name {
  color: var(--clr-neutral-title);
}

.button-container {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.cancel-button {
  background-color: var(--clr-primary-light-bg1);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--clr-primary-light-blue);
  margin-right: 0.5rem;
}

.cancel-button:hover {
  background-color: var(--clr-primary-light-bg2);
  cursor: pointer;
  color: var(--clr-primary-light-blue);
}

.cancel-button:active {
  transform: translateY(1px);
}

/* Media Queries */
@media (max-width: 800px) {
  .App {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .card {
    width: 85%;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-card,
  .new-project-card {
    width: 100%;
    height: 144.5px;
  }
}
